@import '@fontsource/fira-mono';

:root {
	font-family: 'Inter', sans-serif;
	--color-text: white;
	--bg-color: #1b1b1b;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	color: var(--color-text);
}

@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-size: 100vw 100vh;
	background-color: var(--bg-color);
}
